.root {
	display: flex;
	flex-direction: column;
	color: var(--white);
}

header {
	text-align: center;
	background-color: var(--darkest);
	color: var(--white);
}

.root nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.root nav li {
	padding: 2rem;
}

.root nav a {
	text-decoration: none;
	color: var(--lightblue);
	font-size: 1.25rem;
}

article .screenshot {
	width: 20rem;
	height: auto;
}

.main-content {
	display: flex;
	flex-direction: row;
}

.main-content .sidebar {
	width: 20%;
	height: 100vh;
	background-color: var(--darkblue);
}

.main-content article {
	width: 80%;
	background-color: var(--medblue);
}